/* html {font-size : 22px}
body {background-color: #333;
      color: whitesmoke;}
a{color :aliceblue}
a:visited{color: lightgray;}
a:hover, a:active{color: #eee;} */


/* ...................  Header  ................... */
*{
      padding: 0;
      margin: 0;
      font-family: 'Josefin Sans', sans-serif;
      box-sizing: border-box;
}
.header_class{
      height: 100vh;
      width: 100%;
      background-image: url(BackGrounds/bg3.jpeg);
      background-size: cover; 
      background-position: center;
}
nav{
      display: flex;
      align-items: center;
      justify-content: space-between ;
      padding-left: 8%;
      padding-top: 45px;
      padding-right: 8%;
}
.logo{
      color: white;
      font-size: 35px;
      letter-spacing: 1px;
       cursor: pointer;
}
span{
      color: #f9004d;
}
nav ul li{
      list-style-type: none;
      display: inline-block;
      padding: 10px 25px;
}
nav ul li a{
      color: white;
      text-decoration: none; 
      font-weight: bold;
      text-transform: capitalize;
}
nav ul li a:hover{
      color: #f9004d;
      transition: .4s;
}
.content{
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translateY(-50%);
}
h1{
      color: white;
      margin:  20px 0px 20px;
      font-size: 40px; 
}
h3{
      color: white;
      font-size: 25px;
      margin-bottom: 50px;
}
h4{
      color: #fcfc;
      letter-spacing: 2px;
      font-size: 20px;
}
button{
      background-color: #f9004d;
      color: white;
      text-decoration: none;
      border: 2px solid transparent;
      font-weight: bold;
      padding: 13px 30px;
      border-radius: 30px;
      transition: .4s; 
}
button :hover{
      background-color: transparent;
      border: 2px solid #f9004d;
      cursor: pointer;
}
.about{
      width: 100%;
      padding: 100px 0px;
      background: linear-gradient(to bottom, #000000, #1b1b1b);
      /*background-color: #191919;*/
      /*background: linear-gradient(-45deg, #2f2656, #10014f 50%, #3561f0);*/

}
.about img{
      height: auto;
      width: 430px;
}
.about-text{
      width: 550px;
}
.one{
      width: 1130px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
}
.about-text h2{
      color: white;
      font-size: 75px; 
      text-transform: capitalize;
      margin-bottom: 20px;
      letter-spacing: 2px;
}
.about-text h5{
      color: white;
      font-size: 22px;
      text-transform: capitalize;
      margin-bottom: 25px;
      letter-spacing: 2px;
}
.about-text p{
      color: #fcfc;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 45px;
      letter-spacing: 1px;
}
.parcours{
      background-color: #101010;
      width: 100%;
      padding: 100px 10px;
}
.projects{
      background-color: #191919;
      width: 100%;
      padding: 100px 10px;
}

.title{
      color: white;
      font-size: 40px;
      width: 1130px;
      margin: 30px auto;
      text-align: center;
}
.box{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 400px;
}
.card{
      height: 365px;
      width: 335px;
      padding: 20px 35px;
      background: #191919;
      border-radius: 20px;
      margin: 15px;
      position: relative;
      overflow: hidden;
      text-align: center; 
}
.card_v2{
      height: 470px;
      width: 335px;
      padding: 20px 35px;
      background: #101010;
      border-radius: 20px;
      margin: 15px;
      position: relative;
      overflow: hidden;
      text-align: center; 
}
.card i{
      font-size: 50px;
      display: block;
      text-align: center;
      margin: 25px 0px;
      color: #f9004d;
}
.card_v2 i{
      font-size: 50px;
      display: block;
      text-align: center;
      margin: 25px 0px;
      color: #f9004d;
}
h5{
      color: white;
      font-size: 25px;
      margin-bottom: 15px;
}
.pra{
      color: #fcfc;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 25px;
}
.pra .button{
      background-color: #f9004d;
      color: white;
      text-decoration: none;
      border: 2px solid transparent;
      font-weight: bold;
      padding: 5px 22px;
      border-radius: 30px;
      transition: .4s; 
}
.pra .button :hover{
      background-color: transparent;
      border: 2px solid #f9004d;
      cursor: pointer;
}
.other_proj{
      padding-top: 20px;
      color: #fcfc;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 25px;
}
.other_proj .button{
      background-color: #f9004d;
      color: white;
      text-decoration: none;
      border: 2px solid transparent;
      font-weight: bold;
      padding: 5px 22px;
      border-radius: 30px;
      transition: .4s; 
}
.other_proj .button :hover{
      background-color: transparent;
      border: 2px solid #f9004d;
      cursor: pointer;
}
.footer_class{
      color: whitesmoke;
      height: 200px;
      width: 100%;
      background-color: #191919;

}
.footer_class nav ul li{
      list-style-type: none;
      display: inline-block;
      /*padding: 10px 25px;*/
      padding: 30px 35px;

}
.footer_class nav ul li a{
      color: white;
      text-decoration: none; 
      font-weight: bold;
      text-transform: capitalize;
}
.footer_class i{
      font-size: 40px;
      display: block;
      text-align: center;
      margin: 25px 0px;
      color: #f9004d;
}